<div class="forma_contacto">
  <div class="datos_comprador">
      <p>Nombre:</p>
      <%= %>
      <input type="text" name="Nombre">
      <p>Email:</p>
      <input type="text" name="firstname">
      <p>Teléfono:</p>
      <input type="text" name="firstname">
      <p>Mensaje:</p>     
      <textarea rows="4" cols="20"></textarea>           
  </div>
  <div class="datos_anuncio">
      <p>Titulo del anuncio</p>
      <p>Detalles del producto</p>
      <p>Descripción</p>     
  </div>
  <div class="capcha">
    <p> Lugar para el capcha </p>
  </div>
  <div class="botonera">
    <input type="button" value="Enviar">
    <input type="button" value="Regresar">    
  </div>  
</div>