// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*------------------Vista Categorias----------------------*/

.vista_categoria{
   width: 920px%;
   margin: 10px 0 10px 0;
}

.vista_categoria_titulo{ 
   width: 920px;
   display: block;
   position: relative;
   float: left;      
   padding:10px 0px 5px 0px; 
   border-top: 1px solid #666666;
}

.vista_categoria_titulo h6 a{  
   color: #000000;   
   text-decoration: none;
}

.vista_categoria_titulo h6 a:hover{ 
   background-color: #b3b3b3; 
   color: #000000;   
   text-decoration: none;
}

.vista_categoria_productos{ 
   width: 920px;
   display: block;
   position: relative;
   float: left;   
}

.vista_categoria_productos .equipos{
   width: 148px;
   height: 198px;
   margin: 10px 4px 10px 4px;
   border: 1px solid #666666;
   float: left;
}

.vista_categoria_productos .equipos img{
   width: 150px;
   height: 150px;
}

.vista_categoria_productos .equipos .imagenes{
   width: 140px;
   height: 140px;
   margin: 5px 4px 5px 4px;   
   overflow: hidden;
}

.vista_categoria_productos .equipos .datos{
   max-width: 140px;
   max-height: 140px;
   margin: 5px 4px 5px 4px;
      text-overflow:ellipsis; 
      white-space:nowrap;
      overflow:hidden;     
}