// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*------------------Vista Categorias----------------------*/

.vista_categoria{
   width: 920px;
   margin: 10px 0 10px 0;
}

.vista_categoria_titulo{ 
   width: 920px;
   heigh: 40px;
   position: relative;
   float: left;      
   padding:10px 0px 5px 0px; 
}

.vista_categoria_titulo h6 a{  
   color: #52778d;   
   text-decoration: none;
}

.vista_categoria_titulo h6 a:hover{  
   text-decoration: none;
   background-color: transparent;
   opacity:0.8;
}

.vista_categoria_productos{ 
   width: 920px;
   display: block;
   position: relative;
   float: left;   
}

.vista_categoria_productos .equipos{
   width: 148px;
   height: 148px;
   margin: 10px 4px 10px 4px;
   border: 1px solid #666666;
   float: left;
}

.vista_categoria_productos .equipos img{
   margin-left: -25px;
   width: 200px;
   heigth: 150px;
}

.vista_categoria_productos .equipos .imagenes{
   width: 140px;
   height: 140px;
   margin: 5px 4px 5px 4px;   
   overflow: hidden;
}

.vista_categoria_productos .equipos .datos{
   max-width: 140px;
   max-height: 140px;
   margin: 5px 4px 5px 4px;
      text-overflow:ellipsis; 
      white-space:nowrap;
      overflow:hidden;     
}