// Place all the styles related to the Equipment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/*-------------lista de anuncios-------------*/

.lista_show_equipment{
   width: 750px;
   height:100px;
   margin:10px auto 10px auto;
   border-top: 1px solid #000000;
   border-bottom: 1px solid #000000;   
}

.lista_show_equipment .lista_image{
   width: 100px;
   height: 100px;
   float: left;
}

.lista_show_equipment .lista_image img{
   width: 80px;
   height: 80px;
   padding: 10px;
}

.lista_show_equipment .datos{
   width: 350px;
   height: 100px;
   float: left;
}

.lista_show_equipment .datos .titulo{
   width: 350px;
   height: 40px;  
   margin-top: 10px;
   text-overflow:ellipsis; 
   white-space:nowrap;
   overflow:hidden;      
}

.lista_show_equipment .datos .descripcion{
   width: 350px;
   height: 50px;
}

.lista_show_equipment .precio{
   width: 150px;
   height: 90px;  
   margin-top: 10px;
   float: left;
}

.lista_show_equipment .precio_listado{
   width: 300px;
   height: 90px;  
   margin-top: 10px;
   float: left;
}

.lista_show_equipment .opciones{
   width: 150px;
   height: 90px;  
   margin-top: 10px;   
   float: left; 
}

/*------------- código para crear anuncio -------------*/

.alta_equipment .grupo{
   position: relative;
   display: block;
   width: 820px;
   min-height: 50px;
   max-height: auto;
   border: 1px solid #A4A4A4;
   margin: 10px auto 20px auto;
   padding: 15px 30px 15px 30px;
   float: left;
}

.alta_equipment h1{
   font-size: 18px;
   text-align: left;
}

.alta_equipment .grupo .grupo_1{
   display: block;
   width: 200px;
   max-height: auto;
   border: 1px solid #A4A4A4;
   margin: 10px 10px 20px auto;
   padding: 15px 30px 15px 30px;
   float: left;
}

.alta_equipment .grupo input{
   width: 91%;
   height: 25px;
   font-siza: 18px;
   margin: 0px auto 0px auto;
}

/*-------------------Formulario---------------*/

.forma_contacto{
   width: 800px;
   height: 430px;
   border: 1px solid #A4A4A4;
   margin: 20px auto 20px auto;
}

.forma_contacto p{
   margin: 5px 50px 0px 50px;
}

.forma_contacto .datos_comprador{
   width: 400px;
   height: 350px;
   float: left;
}

.forma_contacto .datos_comprador  input{
   width:300px;
   height: 20px;
   margin: 5px 50px 10px 50px;
}

.forma_contacto .datos_comprador  textarea{
   width:300px;
   height: 100px;
   margin: 0px 50px 15px 50px;
}

.forma_contacto .datos_anuncio{
   width: 400px;
   height: 430px;
   float: right;
   overflow: scroll;     
}

.forma_contacto .datos_anuncio .detalles{
   width: auto;
   height: auto; 
   padding: 10px;
}

.forma_contacto .capcha{
   width: 400px;
   height: 80px;  
   background-color: #d1d1d1;  
   float: left;     
}

.forma_contacto .botonera{
   width: 400px;
   height: 80px;   
   float: left;    
}

.forma_contacto h1{   
   font-size: 15px;
   font-weight: bold;
   text-align: center;
   margin: 10px 0px 10px 0px;
}

.forma_contacto .botonera input{   
   font-size: 12px;
   margin: 10px auto 10px auto;
}

/*---------------------*/
.show_equipment h1{
   margin: 10px 0px 10px 0px;
   position:relative;
   text-align: left;
}

.show_equipment .producto{
   margin: 20px 0px 20px 0px;
   float: left;   
}

.show_equipment .producto .preview{
   width: 150px;
   min-height: 100px;
   max-height: 300px;
   text-align: center;
   float: left;
}


.show_equipment .producto .preview .imagenprevia{
   width: 60px;
   height: 60px;
   float: left;
}

.show_equipment .producto .preview .imagenprevia img{
   width: 50px;
   height: 50px;
}

.show_equipment .producto .imagen{
   width: 470px;
   height: 300px;
   text-align: center;
   float: left;
}

.show_equipment .producto .imagen img{
   max-width: 400px;
   max-height: 300px;
   text-align: center;
}

.show_equipment .producto .modelo{
   width: 300px;
   height: 300px;
   float: left;
}

.show_equipment .producto .modelo table{
   width: 300px;
   height: 300px;
}

.show_equipment .descripcion{
   position:relative;
   text-align: left;
   margin-top:10px;
   margin-bottom:10px;
}

.show_equipment .descripcion textarea{
   width: 900px;
   height: 250px;
   background-color: #F2F2F2;
   border: 1px solid #A6A6A6;
   padding: 10px;
}

/*------------------ social parts ----------------*/

.oor-social-buttons{
   width: 920px;
   height:40px;
   z-index: 1;
}

.oor-social-buttons .fb-like{
   width: 90px;
   max-width: 100%;
   float: right;
   z-index: 1;   
}

.oor-social-buttons .google-plus{
   width: 90px;   
   max-width: 100%;   
   float: right;
   z-index: 1;   
}

.oor-social-buttons .twitter-tweet{
   width: 90px;   
   max-width: 100%;   
   float: right;
   z-index: 1;   
}

.fb-share-button{
   width: 90px;   
   max-width: 100%;   
   float: right;  
   z-index: 1;   
}