// Place all the styles related to the Equipment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/*-------------lista de anuncios-------------*/

.lista_show_equipment{
   width: 750px;
   height:100px;
   margin:10px auto 10px auto;
   border-top: 1px solid #000000;
   border-bottom: 1px solid #000000;   
}

.lista_show_equipment .lista_image{
   width: 100px;
   height: 100px;
   float: left;
}

.lista_show_equipment .lista_image img{
   width: 80px;
   height: 80px;
   padding: 10px;
}

.lista_show_equipment .datos{
   width: 350px;
   height: 100px;
   float: left;
}

.lista_show_equipment .datos .titulo{
   width: 350px;
   height: 40px;  
   margin-top: 10px;
   text-overflow:ellipsis; 
   white-space:nowrap;
   overflow:hidden;      
}

.lista_show_equipment .datos .descripcion{
   width: 350px;
   height: 50px;
}

.lista_show_equipment .precio{
   width: 150px;
   height: 90px;  
   margin-top: 10px;
   float: left;
}

.lista_show_equipment .precio_listado{
   width: 300px;
   height: 90px;  
   margin-top: 10px;
   float: left;
}

.lista_show_equipment .opciones{
   width: 150px;
   height: 90px;  
   margin-top: 10px;   
   float: left; 
}

/*--------- Show equipment------------*/
.show_equipment .titulo{
   width: 100%;
   min-height:25px;
   max-height: 75px;
}

.show_equipment h1{
   font-size: 25px;
   margin: 10px 0px 10px 0px;
   position:relative;
   text-align: left;
   text-transform: capitalize;
   line-height: 100%;
}

.show_equipment h1 .azul{
   color: #37A0DE;
}

.show_equipment h1 .azul2{
   color: #53788E;
}

.show_equipment h1 .favoritos{
   font-size: 15px;
   color: #b3b3b3;
}

.show_equipment .producto{
   margin: 20px 0px 20px 0px;
   float: left;   
}

.show_equipment .producto .preview{
   width: 230px;
   height: 320px;
   text-align: center;
   float: left;
   background-color: #FFFFFF;
   overflow: scroll;
   /*box-shadow: black 0.05em 0.05em 0.1em;*/
}

.show_equipment .producto .preview img{
   width: 90px;
   height: 90px;
   margin: 5px 5px 5px 5px;
   float: left;
}

.show_equipment .producto .preview iframe{
   width: 90px;
   height: 90px;
   margin: 5px 5px 5px 5px;
   float: left;   
}

.show_equipment .producto .imagen{
   width: 690px;
   height: 320px;
   text-align: center;
   float: left;
   background-color: #FFFFFF;
   /*box-shadow: black 0.05em 0.05em 0.1em;*/
}

.show_equipment .producto .imagen iframe{
   width: 490px;
   height: 320px;
   background-color: #FFFFFF;
   text-align: center;
   margin: 0 auto 0 auto;
}

.show_equipment .producto .imagen img{
   max-width: 680px;
   max-height: 300px;
      padding: 10px;
   margin: auto auto auto auto;
}

.show_equipment .producto .modelo{
   width: 660px;
   height: 120px;
   float: left;
}

.show_equipment .producto .contactar{
   width: 200px;
   height: 120px;
   float: right;
}

.show_equipment .producto .contactar form input{
   width: 120px;
   height: 50px;
   float:right;
   font-size:10px;
   font-weight:bold;
   color:white;
   background:#638cb5;
   border:0px;
}

.show_equipment .producto .contactar p{
   width: 200px;
   height: 30px;
   text-align: center;
   margin-top: 50px;
}

.show_equipment .descripcion{
   width: 860px;
   min-height: 50px;
   max-height: 100%;
   float: left;   
   text-align: left;

}

.show_equipment .descripcion textarea{
   width: 840px;
   height: 180px;
   background-color: #FFFFFF;
   border: 1px solid #A6A6A6;
   padding: 10px;
}

.show_equipment .producto .modelo .etiquetas{
   font-size: 12px;
   margin-top: 10px;
}

.show_equipment .producto .modelo .modelo2{
   font-size: 15px;
   font-weight: bold;
   margin-top: 5px;   
}

.show_equipment .comentarios{
   width: 920px;
   min-height: 30px;
   max-height: 100%;
   float: left;
}

/*------------------ social parts ----------------*/

.oor-social-buttons{
   width: 920px;
   height:20px;
   z-index: 1;
   overflow: hidden;
   margin-bottom:15px; 
}

.oor-social-buttons .fb-like{
   width: 90px;
   max-width: 100%;
   float: left;
   z-index: 1;   
}

.oor-social-buttons .google-plus{
   width: 90px;   
   max-width: 100%;   
   float: left;
   z-index: 1;   
}

.oor-social-buttons .twitter-tweet{
   width: 90px;   
   max-width: 100%;   
   float: left;
   z-index: 1;   
}

.fb-share-button{
   width: 90px;   
   max-width: 100%;   
   float: left;  
   z-index: 1;   
}



/*------------- código para crear anuncio -------------*/

.alta_equipment{
   width: 100%;
   min-height: 800px;
   max-height: 100%;
   background-color: #37A0DE;
   margin: 0 auto 0 auto;
}

.alta_equipment p{
   margin: 20px 0px 10px 10px;
   font-size: 15px;
   color: #FFF;
   text-transform: capitalize;
   font-weight: bold;
}

.alta_equipment p .leyenda{
   margin: 20px 0 0 0;
   font-size: 10px;
   color: #FFF;
}

.alta_equipment .parte1{
   width: 100%;
   height: 570px;
}

.alta_equipment .parte1 .anuncio{
   width: 580px;
   max-height: 100%;   
   float: left;
}

.alta_equipment .parte1 .anuncio input{
   width: 90%;
   height: 25px;
}

.alta_equipment .parte1 .anuncio textarea{
   width: 90%;
   height: 250px;
}

.alta_equipment .parte1 .detalles{
   width: 269px;
   min-height: 100%;
   border-left: 1px solid #FFF;
   float: left;
}

.alta_equipment .parte1 .detalles input,
.alta_equipment .parte1 .detalles select{
   width: 90%;
   height: 25px;
   margin-left: 10px;
}

.alta_equipment .parte1 .detalles #equipment_year,
.alta_equipment .parte1 .detalles #equipment_color
 {
   width: 42%;
   height: 25px;
   margin-left: 10px;
}

.alta_equipment .precio{
   width: 100%;   
   height: 100px;   
   border-top: 1px solid #FFF;
   border-bottom: 1px solid #FFF;
   max-height: 100%;
}

.alta_equipment .tercio{
   width: 30%;
   max-height: 100%;
   text-align: left;
   float: left;
   margin-right: 11px;
   margin-left: 11px;
}

.alta_equipment .tercio select{
   width: 100%;
   height: 30px;
   margin-bottom: 20px;
}

.alta_equipment .tercio input{
   width: 100%;
   height: 25px;
   margin-bottom: 20px;
}

.alta_equipment .paquete{
   width: 100%;
   border-bottom: 1px solid #FFF;
   height: 300px;
   margin: 0 auto 0 auto;
}

.alta_equipment .paquete .tercio_1,
.alta_equipment .paquete .tercio_3{
   width: 33%;
   min-height: 200px;
   text-align: left;
   float: left;
   margin: 10px auto 10px auto;
}

.alta_equipment .paquete .tercio_2{
   width: 33%;
   min-height: 200px;   
   text-align: left;
   float: left;
   margin: 10px auto 10px auto;
   border-left: 1px solid #FFF;
   border-right: 1px solid #FFF; 
}

.alta_equipment .paquete h1{
   color: #FFF;
}

.alta_equipment .paquete p{
   margin: 10px 0px 10px 10px;
   font-size: 15px;
   color: #FFF;
   text-transform: capitalize;
   font-weight: bold;
}

.alta_equipment .paquete #equipment_package_id_1,
.alta_equipment .paquete #equipment_package_id_2,
.alta_equipment .paquete #equipment_package_id_3{
   margin-left: 115px;
}

.alta_equipment .crear{
   width: 100%;
   height: 100px;
   float: left;
   text-align: center;
   margin-bottom: 20px;
}

.alta_equipment .crear input{
   width: 32%;
   height: 50px;
   font-size:10px;
   font-weight:bold;
   color:white;
   background:#638cb5;
   border:0px;
}

/*--------------- diferencias de crear al edit de anuncio ---------*/

.alta_equipment .paquete_edit{
   width: 100%;
   border-bottom: 1px solid #FFF;
   height: 80px;
   margin: 20px auto 0 auto;
}

.alta_equipment .crear_edit{
   width: 100%;
   height: 80px;
   float: left;
   text-align: center;
   margin-bottom: 20px;
}

.alta_equipment .crear_edit input{
   width: 32%;
   height: 50px;
   font-size:10px;
   font-weight:bold;
   color:white;
   background:#638cb5;
   border:0px;
}

/*-------------------Formulario contactar vendedor---------------*/

.forma_contacto{
   width: 100%;
   height: 500px;
   background-color:#A4A4A4;
}

.forma_contacto h1{
   color:#FFF;
   font-size: 20px;
   padding: 20px;
}

.forma_contacto p{
   font-size: 15px;
   color: #FFF;
   margin: 5px 20px 0px 20px;
}

.forma_contacto .datos_comprador{
   width: 48%;
   height: 350px;
   float: left;
}

.forma_contacto .datos_comprador  input{
   width:90%;
   height: 25px;
   margin: 5px 20px 10px 20px;
}

.forma_contacto .datos_comprador  textarea{
   width:90%;
   height: 100px;
   margin: 0px 20px 15px 20px;
}

.forma_contacto .datos_anuncio{
   width: 50%;
   height: 430px;
   float: right;
   /*overflow: scroll; */    
}

.forma_contacto .datos_anuncio  textarea{
   width:90%;
   height: 220px;
   margin: 5px 20px 0px 20px;
}

.forma_contacto .datos_anuncio h1{
   width: 100%;  
   padding: 0px;
}

.forma_contacto p{
   font-size: 15px;
   color: #FFF;
   margin: 5px 20px 0px 20px;
}

.forma_contacto .datos_anuncio .detalles{
   width: auto;
   height: auto; 
   padding: 10px;
}

.forma_contacto .botonera{
   width: 400px;
   height: 80px;   
   float: left;   
   padding: 0px 20px 15px 20px;
}

.forma_contacto .botonera input{   
   margin: 10px auto 10px auto;
   width: 70%;
   height: 50px;
   font-size:15px;
   border:0px;
   padding: 0 10px 0 10px;
   font-weight: bold;
   text-transform: uppercase;
   background-color: #52778d;
   color: #FFF;   
}

.forma_contacto .botonera input:hover{   
   opacity: .7;
}