// Place all the styles related to the Equipment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*---------------------*/
.show_equipment h1{
   margin: 10px 0px 10px 0px;
   position:relative;
   text-align: left;
   
}

.show_equipment .producto{
   margin: 20px 0px 20px 0px;
   float: left;   
}

.show_equipment .producto .preview{
   width: 150px;
   min-height: 100px;
   max-height: 300px;
   text-align: center;
   float: left;
}


.show_equipment .producto .preview table{
   width: 120px;
}

.show_equipment .producto .preview img{
   width: 50px;
   height: 50px;
}

.show_equipment .producto .imagen{
   width: 470px;
   height: 300px;
   text-align: center;
   float: left;
}

.show_equipment .producto .imagen img{
   width: 400px;
   height: 300px;
   text-align: center;
}

.show_equipment .producto .modelo{
   width: 300px;
   height: 300px;
   float: left;
}

.show_equipment .producto .modelo table{
   width: 300px;
   height: 300px;
}

.show_equipment .descripcion{
   position:relative;
   text-align: left;
   margin-top:10px;
   margin-bottom:10px;
   
}

/*-------------lista de anuncios-------------*/

.lista_show_equipment{
   width: 800px;
   height:100px;
   margin:10px auto 10px auto;
   border-top: 1px solid #000000;
   border-bottom: 1px solid #000000;   
}

.lista_show_equipment .lista_image{
   width: 100px;
   height: 100px;
   float: left;
}

.lista_show_equipment .lista_image img{
   width: 80px;
   height: 80px;
   padding: 10px;
}

.lista_show_equipment .datos{
   width: 350px;
   height: 100px;
   float: left;
}

.lista_show_equipment .datos .titulo{
   width: 350px;
   height: 40px;  
   margin-top: 10px;
}

.lista_show_equipment .datos .descripcion{
   width: 350px;
   height: 50px;
}

.lista_show_equipment .precio{
   width: 200px;
   height: 90px;  
   margin-top: 10px;
   float: left;
}

.lista_show_equipment .opciones{
   width: 150px;
   height: 90px;  
   margin-top: 10px;   
   float: left; 
}