/* ----Menu desplegable --------*/
  #menu_eym{
      width: 960px;
      min-height: 30px;
      margin:0 auto 0 auto;  
      background-color: #ffffff;
      overflow: hidden; /*--para que el cuadro agarre todo lo interno.---*/    
      font-size:13px;
      font-weight:bold; 
      border-radius: 10px 10px 0px 0px;
      z-index: 100;
  }
  
  #menu_eym ul, ol{
    list-style:none;
  }

  .menu ul{
    float:left;
    list-style:none;
    margin:0;
    padding:0;
  }
  
  .menu li a{
    background-color:#000;
    color:#FFF;
    text-decoration:none;
    padding:10px 15px;
    display: block;    
    z-index: 100;
  }
  
  .menu li a:hover{
    background-color: #666666;
    z-index: 100;
  }
  
  .menu > li{
    float: left;
    padding:0px;
    width:120px;
    z-index: 100;
  }
  
  .menu li ul{
    display:none;
    position:absolute;
    min-width:250px;
    z-index: 100;
  }
  
  .menu li:hover > ul{
    display:block;
    z-index: 100;
  }
  
  .menu li ul li{
    position: relative;
    z-index: 100;
  }
  
  .menu li ul li ul{
    right: -250px;
    top: 0px;
    z-index: 100;
  }

  .menu_publica {
    width: 150px;
    margin: 0;
    position: relative;
    float: right;
    background-color:#EBEBEB;
    height: 20px;
    padding: 5px;
    border-radius: 10px 10px 0 0;
    text-align: center;
    z-index: 1;
}

.menu_publica:hover { 
    background-color: #BEBEBE;
    z-index: 1;
}

