<div class="header">
	<div class="header_parte1"><img src="/images/logo.png"></div>
	<div class="header_parte2"><a href="http://www.facebook.com/pages/getting_started?page_id=453713201357148" target="_blank"><img src="/images/iconos/facebook_icon.png"></a> <a href="https://www.youtube.com/user/EQUIPOYMAQUINARIA?feature=watch" target="_blank"><img src="/images/iconos/youtube_icon.png"></a></div>
	<div class="header_parte3">
		<div class="sesion">
			<img src="/images/iconos/usuario_icono.png">
			<% unless User.find_by(id: session[:user_id]) %>
				Bienvenido visitante <strong><%= link_to 'Iniciar sesión', login_path %></strong> | <strong><%= link_to 'Registrarse', new_user_path %> </strong>
			<% else %>
			    Bienvenido <strong> <%= session[:uname] %></strong> | <%= link_to 'Logout', logout_path, method: :delete %>
			<%end %>
		</div>
		<div class="buscador"></div>
	</div>		
</div>