<div class="menu">
	<ul>
		<li><a href="#">Inicio</a></li>
		<li><a href="#">Categorias</a>
			<ul>
				<li><a href="#">&nbsp;&nbsp;&nbsp;sub categoria 1</a></li>
				<li><a href="#">&nbsp;&nbsp;&nbsp;sub categoria 2</a></li>
				<li><a href="#">&nbsp;&nbsp;&nbsp;sub categoria 3</a></li>
				<li><a href="#">&nbsp;&nbsp;&nbsp;sub categoria 4</a></li>
				<li><a href="#">&nbsp;&nbsp;&nbsp;sub categoria 5</a></li>
			</ul>
		</li>
		<li><a href="#">Industria</a>
			<ul>
				<li><a href="#">&nbsp;&nbsp;&nbsp;sub categoria 1</a></li>
				<li><a href="#">&nbsp;&nbsp;&nbsp;sub categoria 2</a></li>
				<li><a href="#">&nbsp;&nbsp;&nbsp;sub categoria 3</a></li>
				<li><a href="#">&nbsp;&nbsp;&nbsp;sub categoria 4</a></li>
				<li><a href="#">&nbsp;&nbsp;&nbsp;sub categoria 5</a></li>
			</ul>
		</li>
		<li><a href="#">Blog</a></li>
	</ul>
	<div class="menu_publica"><%= link_to '$ Publica tu Anuncio', "/equipment/new" %></div>
</div>
