<div class="menu">
	<ul>
		<li><%= link_to 'Inicio', root_url %></li>
		<li><a href="#">Categorias</a>
			<ul>
			<% @category.each do |category| %>
				<li><%= link_to category.title, venta_path('categoria' => category.title, 'tipo' => 1), method: :post %></a></li>
			<% end %>
			</ul>
		</li>
		<li><a href="#">Industria</a>
			<ul>
				<li><a href="#">&nbsp;&nbsp;&nbsp;sub categoria 1</a></li>
				<li><a href="#">&nbsp;&nbsp;&nbsp;sub categoria 2</a></li>
				<li><a href="#">&nbsp;&nbsp;&nbsp;sub categoria 3</a></li>
				<li><a href="#">&nbsp;&nbsp;&nbsp;sub categoria 4</a></li>
				<li><a href="#">&nbsp;&nbsp;&nbsp;sub categoria 5</a></li>
			</ul>
		</li>
		<li><a href="#">Blog</a></li>
	</ul>
	<div class="menu_publica"><%= link_to '$ Publica tu Anuncio', "/equipment/new" %></div>
</div>
