<div id="menu_eym">
	<ul class="menu">
		<li><%= link_to 'Categorias', category_vista_path %>
			<ul>
			<% @category.each do |category| %>
					<li><%= link_to category.title, Filtro_path('categoria' => category.title, 'tipo' => 1), method: :post %>
					<ul>
						<% @subcategory.each do |subcategory| %>
							<% if subcategory.category_id.to_s == category.id.to_s %>
								<li><%= link_to subcategory.title, Filtro_path('categoria' => category.title, 'tipo' => 1), method: :post %></li>
							<% end %>

						<% end %>
					</ul>
					</li>
			<% end %>
			</ul>
		</li>
		<li><a href="#">Industria</a></li>
		<li><a href="#">Blog</a></li>
	</ul>
</div>
	

