<link href='http://fonts.googleapis.com/css?family=Roboto:500,700,400italic' rel='stylesheet' type='text/css'>
<div id="menu_eym">
	<ul class="menu">
		<li><%= link_to 'Categorias', category_vista_path %>
			<ul>
			<% @category.each do |category| %>
				<% array = Hash['categoria' => category.title ,'tipo' => 1]
							%>
					<li><%= link_to category.title, Filtro_path("array" =>array), method: :post %>
					<ul>
						<% @subcategory.each do |subcategory| %>
							<% if subcategory.category_id.to_s == category.id.to_s %>
							<% array = Hash['categoria' => category.title ,'subcategory' => subcategory.title ,'tipo' => 1]
							%>
								<li><%= link_to subcategory.title, Filtro_path("array" =>array), method: :post %></li>
							<% end %>

						<% end %>
					</ul>
					</li>
			<% end %>
			</ul>
		</li>
		<li><a href="#">Industria</a></li>
		<li><a href="#">Blog</a></li>
	</ul>
</div>
	

